@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #e8f1ee;
    --foreground: #000;
    --header-bg: rgba(255, 255, 255, 0.06);
  }

  .dark {
  }
}

body {
  color: rgb(var(--foreground));
  background: var(--background);
}

@layer components {
  .g_txt {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .container {
    @apply px-5;
  }
}

.sdsd {
  background-color: #deac00, #ecbfbf, #f40010, #fdd755;
}
