@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #e8f1ee;
    --foreground: #000;
    --header-bg: rgba(255, 255, 255, 0.06);
  }

  .dark {
  }
}

body {
  color: rgb(var(--foreground));
  background: var(--background);
}

@layer components {
  .g_txt,
  .bg-clip-text {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .container {
    @apply px-5;
  }
  .heading1 {
    @apply;
  }
  .airdrop {
    border-radius: 25px;
    background: url("/images/airdrop.png") lightgray 50% cover no-repeat,
      #171717;
  }
  .airdrop_heading {
    background: var(
      --Gradient-2,
      linear-gradient(
        90deg,
        #deac00 0%,
        #ecbfbf 38.02%,
        #f40010 75.83%,
        #fdd755 100%
      )
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.sdsd {
  background-color: #deac00, #ecbfbf, #f40010, #fdd755;
}
